/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 1200px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}
/* navbar */

#switchButtonn .theme {
  background-color: white;
}
#switchButtonn .fa-bars {
  display: block;
}
#switchButtonn .fa-times {
  display: none;
}
.change #switchButtonn .fa-bars {
  display: none;
}
.change #switchButtonn .fa-times {
  display: block;
}
/* LIGHT DARK */
/* light  */
.theme {
  background-color: #fff;
  transition: none !important;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
#switchButton {
  box-shadow: none;
}
.lightheight {
  display: grid;
}
header .navbar .navbar-toggler {
  background-color: #dc4f72;
  color: #fff;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  line-height: 1.35;
}
/* dark  */
.dark #masterNavbar .btn {
  background-color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}
.dark #switchButton .fa-moon {
  display: none;
}
.dark .dark__light {
  background-color: black;
}
.dark #masterNavbar .dark__light {
  background-color: black;
  color: white;
}
.dark #masterNavbar .dark__light .nav-link {
  background-color: black;
  color: white;
  /* transition: all 0.3s; */
}
.dark #masterNavbar .dark__light .nav-link:hover {
  color: #dc4f72;
}
.dark #masterNavbar .dark__light .active .nav-link {
  color: #dc4f72;
}
.dark .ourCarousel {
  background-image: linear-gradient(to right, black, rgba(255, 255, 255, 0.92)),
    url(../images/banner.jpg);
}
.dark .ourCarousel .content-left h3 {
  color: #fff;
}
.dark .ourCarousel .content-left p {
  color: rgba(238, 238, 238, 0.767);
}

.dark .tools {
  background-color: black;
}
.dark .tools .tool__content h3 {
  color: #fff;
}
.dark .tools .tool__content p {
  color: rgba(238, 238, 238, 0.767);
}
.dark .tools .tools__cardd {
  background-color: black;
}
.dark .tools .tools__cardd:hover {
  background-color: #222;
}
.dark .tools .tools__cardd h3 {
  color: #fff;
}
.dark .tools .tools__cardd p {
  color: rgba(238, 238, 238, 0.767);
}
.dark .about {
  background-color: #131313;
}
.dark .about .about__top h3 {
  color: #fff;
}
.dark .about .about__top p {
  color: rgba(238, 238, 238, 0.767);
}
.dark .about .about__bottom .about__card {
  background-color: black;
  box-shadow: none;
  border: 1px solid white;
}
.dark .about .about__bottom .about__card h4 {
  color: #fff;
}
.dark .about .about__bottom .about__card p:last-of-type {
  color: rgba(238, 238, 238, 0.767);
}
.dark .navbar .dropdown-menu {
  background-color: #222;
}
.dark .navbar .dropdown-menu .dropdown-item {
  color: #fff;
}
.dark header .navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  background: #222;
}
.dark .explore {
  background-color: black;
}
.dark .explore__card-1 {
  background-color: #131313;
}
.dark .explore__card-1 h4 a {
  color: white;
}
.dark .explore__card-1 p {
  color: #eee;
}
.dark .explore__top h3 {
  color: white;
}
.dark .explore__top p {
  color: rgba(238, 238, 238, 0.767);
}
/* FAGs */
.dark .general {
  background-color: #131313;
}
.dark .general .fag-title h3 {
  color: white;
}
.dark .general .fag-title p {
  color: rgba(238, 238, 238, 0.767);
}
.dark .general .faq-page ul li {
  background-color: black;
  border: 1px solid #333;
}
.dark .general .faq-page ul li h2 {
  color: white;
}
.dark .general .faq-page ul li p {
  color: #b7b7b7;
}
.dark .general .faq-page ul li i::before,
.dark .general .faq-page ul li i::after {
  background-color: white;
}

.dark .completed {
  background-color: black;
}
.dark .completed .header-section h3 {
  color: white;
}
.dark .completed .header-section p {
  color: #b7b7b7;
}
.dark .completed .nav-fill li a {
  background-color: black;
  color: white;
}
.dark .nav-fill .nav-link.active {
  color: rgb(220 79 114);
}
.dark .completed .tab-content .content-title-1 h3 {
  color: white;
}
.dark .completed .tab-content .content-title-1 p {
  color: #b7b7b7;
}
/* HEADER  */

header {
  background-color: #fff;
  padding: 0px;
  /* transition: all 0.4s ease 0s; */

  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 0.05);
}
header .nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 100px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 0.05);
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #dc4f72;
  letter-spacing: -1px;
}

.navbar-nav .nav-link {
  padding: 14px 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.navbar .navbar-nav .nav-item {
  margin: 0 8px;
  /* transition: all 0.3s; */
  position: relative;
}
.navbar .navbar-nav .nav-item:last-child {
  margin: 0;
}

.theme-button {
  /* transition: all 0.3s; */
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: black;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #dc4f72;
}

.navbar .navbar-nav .nav-item.active .nav-link {
  color: #dc4f72;
}

.navbar .navbar-nav .nav-item .nav-link:before {
  content: "";
  background-color: #dc4f72;
  height: 2px;
  width: 0;
  transition: all 0.5s;
  position: absolute;
  bottom: 13px;
}
.dropdown-menu .dropdown-item {
  position: relative;
}
.navbar .navbar-nav .nav-item .dropdown-item::before {
  content: "";
  background-color: #dc4f72;
  height: 2px;
  width: 0;
  transition: all 0.5s;
  position: absolute;
  bottom: 13px;
}
.navbar .navbar-nav .nav-item .nav-link:hover::before,
.navbar .navbar-nav .nav-item .dropdown-item:hover::before {
  width: 20px;
}

.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}

.btn-outline-primary:hover {
  background-color: #dc4f72;
  color: #fff;
  border-color: #dc4f72;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #dc4f72;
  text-decoration: none;
  background-color: transparent;
}

a.dropdown-item {
  font-weight: 400;
  font-size: 16px;

  padding-top: 0;
  padding-bottom: 14px;
}

button,
.btn,
select {
  font-family: "Nunito", sans-serif;
}

.navbar .nav-item .btn-outline-primary:active {
  background-color: #dc4f72;
  border-color: #dc4f72;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 0.5);
}

.navbar .nav-item .btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 0.5);
}

.navbar .nav-item .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 0.5);
}

.navbar .ml-auto {
  background-color: #fff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

@media only screen and (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 991px) {
  .navbar-expand-lg .navbar-nav {
    display: block;
    padding: 8px 0;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -50px;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    text-align: center;
    width: 100%;
  }
}
/* OURCAROUSEL */

.ourCarousel {
  position: relative;
  padding-top: 90px;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.content .content-left .btn-outline-primary:active {
  background-color: #dc4f72;
  border-color: #dc4f72;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 0.5);
}

.content .content-left .btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 0.5);
}

.content .content-left .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 0.5);
}
.content .content-left h3 {
  font-size: 50px;
  font-weight: 700;
}
.content .content-left p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}
.content .content-photo img {
  transform: rotate(180deg);
}
/* TOOLS */
.tools {
  text-align: center;
}
.tool__content {
  max-width: 750px;
  margin: 0 auto;
}
.tools .tool__content h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.tools .tool__content h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.tools .tool__content p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
.tools .tools__cardd {
  border-radius: 6px;
  transition: 0.3s ease-in;
  background: #f7f9fc;
  padding: 3rem 2rem;
  border: 1px solid #f7f9fc;
}
.tools .tools__cardd:hover {
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}
.tools .tools__cardd h3 {
  color: #2c3038;
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}
.tools .tools__cardd p {
  color: #5a5a5a;
  margin-top: 15px;
  font-size: 16px;
  line-height: 24.5px;
}
.tools .tools__cardd a {
  text-decoration: none;
}
/* ABOUT  */
.about {
  background-color: #f7f9fc;
}
.about h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.about h3 {
  color: #2c3038;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
}
.about .about__top p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;

  font-style: normal;
  font-weight: normal;
}
.about .container .btn-outline-primary:active {
  background-color: #d62f58;
  border-color: #d62f58;

  box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 0.5);
}

.about .container .btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 0.5);
}

.about .container .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 0.5);
}
.about .container a {
  color: white;
  background-color: #dc4f72;
}
.about .container a:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}
.about .container img {
  transition: 0.3s ease-in-out;
  border-radius: 6px;
}
.about .container img:hover {
  transform: translateY(-0.5rem);
}
.about .about__bottom .about__card {
  background-color: #fff;
  border-radius: 6px;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  transition: 0.3s ease;
  border: 1px solid #eee;
}
.about .about__bottom .about__card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
.about .about__bottom .about__card h4 {
  font-size: 16px;
  line-height: 24.5px;
  text-transform: capitalize;
  color: #2c3038;
  font-weight: 700;
}
.about .about__bottom .about__card .counter {
  font-size: 50px;
  line-height: 1;
  color: #dc4f72;
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}
.about .about__bottom .about__card p:last-of-type {
  color: #5a5a5a;
}

/* perform */
.perform {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  padding: 2rem 0;
  min-height: 480px;
  display: grid;
}
.perform__content {
  max-width: 550px;
}
.perform .perform__content h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.perform .perform__content p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}

/* EXPLORE */
.explore__top h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.explore__top h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.explore__top p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}
.explore__card {
  border-radius: 6px;
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
  overflow: hidden;
  position: relative;
}
.explore__card img {
  filter: grayscale(80%);
  transition: 0.3s ease-in-out;
}
.explore__card p.date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  position: absolute;
  top: 0;
  background: #dc4f72;
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
}
.tag-label {
  padding: 5px 16px;
  /* display: inline-block; */
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
.red {
  color: #dc4f72;
  background-color: rgba(238, 97, 120, 0.2);
}
.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
.explore__card-1 {
  background: #fff;
  padding: 30px 20px;
}
.explore__card-1 h4 a {
  font-size: 22px;
  line-height: 27px;
  color: #2c3038;
  display: block;
  font-weight: 600;
}
.explore__card-1 p {
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.explore__card-1 h4 a {
  text-decoration: none;
}
.explore__card:hover h4 a {
  color: #dc4f72;
  text-decoration: none;
}
.explore__card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}
.explore__card:hover img {
  transition: 0.3s ease-in-out;
  filter: none;
}
.explore__card-1 a.btn_1 {
  padding: 0;
  color: #dc4f72;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
.explore__card-1 a span {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0px;
  position: absolute;
  right: -13px;
  top: 7.5px;
  transition: 0.3s ease-in;
}
.explore__card:hover .explore__card-1 a span {
  transform: translateX(0.3rem);
}
/* GENERAL */
.general {
  background-color: #f7f9fc;
}
.general .header-section h6 {
  font-size: 16px;

  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.general .header-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.general .header-section p {
  color: #5a5a5a;
  font-size: 16px;

  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}
.faq-image img {
  width: 100%;
  transition: all 0.25s;
}
.faq-image img:hover {
  transform: translateY(-10px);
}
.faq-page ul {
  list-style: none;
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
  transition: all 0.5s;
}
.faq-page ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  background: #fff;
}
.faq-page ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
}
.faq-page ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  transform: translateY(50%);
}

.faq-page ul li p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 24.5px;
  overflow: hidden;
  z-index: 2;
  margin-top: 14px;
  transition: all 0.25s ease-in-out;
}

.faq-page ul li h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  color: #2c3038;
}
.faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
}

.faq ul li i::before,
.faq ul li i::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 3px;
  background-color: black;
  /* transform: translate(-2px, 0) rotate(45deg); */
}
.faq-page ul li input[type="checkbox"]:checked ~ i::before {
  transform: translate(2px, 0) rotate(45deg);
}
.faq-page ul li input[type="checkbox"]:checked ~ i::after {
  transform: translate(-2px, 0) rotate(-45deg);
}
.faq ul li i::after {
  transform: translate(2px, 0) rotate(-45deg);
  transition: all 0.25s ease-in-out;
}
.faq ul li i::before {
  transform: translate(-2px, 0) rotate(45deg);
  transition: all 0.25s ease-in-out;
}
/* complete */
.nav-fill {
  width: 100%;
  border-bottom: none;
}
.nav-fill .nav-link.active {
  border-bottom: 3px solid rgb(220 79 114) !important;
  color: rgb(220 79 114);
}
.nav-fill li a {
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  cursor: pointer;
}
.nav-fill li a {
  border-bottom: 3px solid #c1c1c1 !important;
}
.completed .nav-fill a:focus,
.completed .nav-fill a:hover {
  border: none;
}
.completed .nav-fill a {
  border: none;
  color: black;
}
.completed .tab-content .content-title-1 h3 {
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.completed .tab-content .content-title-1 p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24.5px;
}
.completed .tab-content .content-img img {
  transition: all 0.25s;
}
.completed .tab-content .content-img img:hover {
  transform: translateY(-10px);
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header-section h3 {
  color: black;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 70%;
}
/* READY */

.ready h3 {
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.ready .header-title {
  width: 75%;
}
.ready .header-title p {
  color: #5a5a5a;
}
.ready {
  background-color: #f7f9fc;
}
.dark .ready {
  background-color: #131313;
}
.dark .ready h3 {
  color: white;
}
.dark .ready p {
  color: #b7b7b7;
}
/* footer */
.widget_meta h3,
.widget_categories h3,
.widget_archive h3,
.column4 h3 {
  font-size: 20px;
  line-height: 25px;

  margin-bottom: 30px;
  font-weight: 700;
}
.column ul li {
  list-style: none;
}
.column ul li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
}
.end-column {
  border-color: #fff;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}
.end-column h4 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 500;
}
.end-column input {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  border-radius: 6px;
}
.end-column .button-email {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 6px;
}
.end-column p {
  line-height: 22px;
  color: #a99797;
  font-size: 16px;
  padding-top: 10px;
}
.end-column h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

.columns {
  border-top: 1px solid #eee;
  text-align: center;
  padding-top: 10px;
}
.CopyRights {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
}
.dark .footer-css {
  background-color: black;
}
.dark .widget_meta h3,
.dark .widget_categories h3,
.dark .widget_archive h3,
.dark .column4 h3 {
  color: white;
}
.dark .end-column {
  background-color: white;
}
.dark .column ul li a,
.dark .CopyRights {
  color: #b7b7b7;
}
.name-design {
  color: #dc4f72;
}
#backtotop {
  height: 50px;
  width: 50px;

  background-color: #72585e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  position: fixed;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}
#backtotop a i {
  color: white;
}
p {
  margin: 0;
  padding: 0;
}
